<div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<header>
				<h3 class="text-center">Bem Vindo ao LoL TeamUp!</h2>
			</header>
			<section>			
				<h4 class="text-center">Quer jogar 5x5 Ranqueado?</h4>
				<p>
					Para todos aqueles jogadores que cansaram da falta de noção, competitividade e fairplay de alguns jogadores tão comumente encontrados no SoloQ. Têm interesse em jogar <b>competitivo 5x5</b> porém enfrentam dificuldades para encontrar e/ou formar suas equipes ranqueadas, nós criamos o LoL TeamUp para vocês! A plataforma promete <b>facilitar</b> a vida dos usuários ao procurarem ou completarem seus times.
				</p>
				<p class="text-center">
					<b>Com apenas 3 passos você terá seu time completo!</b>
					<div class="row">
						<div class="col-md-offset-1">
							<br/>1. Cadastre na nossa plataforma.
							<br/>2. Será gerada uma lista de times em que você melhor se encaixa <i class="fa fa-arrows-h"></i> Você cria seu próprio time.
							<br/>3. Increva-se no time <i class="fa fa-arrows-h"></i> Espere até que nosso sistema encontre jogadores para seu time.
						</div>
					</div>
					<h4 class="text-center"><b>Cadastra-se</b> agora e encontre seu time.
				</p>
			</section>
		</div>
	</div>
</div>