<form role="form">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <div class="form-group">
             <div class="col-xs-12">
          <p><label for="nome_do_usuario">Nome do Usuário</label>
              <input type="text" class="form-control" id="nome_do_usuario" placeholder="Nome Do Usuário"></p>
                <p><label for="email_usuario">Email</label>
          <input type="email" class="form-control" id="email_usuario" placeholder="Email Do Usuário"></p>
          <p><label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"></p>
          <p><label for="nome_do_invocador">Nome do Invocador</label>
          <input type="text" class="form-control" id="nome_do_invocador" placeholder="Nome do Invocador"></p>
          <ul class="tiers"></br>

       <li class="type-tier unranked">
        <input name="tiers" type="radio" id="unranked" value="unranked">
        <label for="unranked">Boleto</label>
      </li>

      <li class="type-tier bronze">
        <input name="tiers" type="radio" id="bronze" value="bronze">
        <label for="bronze">PayPal</label>
      </li>

      <li class="type-tier silver">
        <input name="tiers" type="radio" id="silver" value="silver">
        <label for="silver">PagSeguro</label>
      </li>

      <li class="type-tier gold">
        <input name="tiers" type="radio" id="gold"   value="gold">
        <label for="gold">Boleto</label>
      </li>

       <li class="type-tier platinum">
        <input name="tiers" type="radio" id="platinum" value="platinum">
        <label for="platinum">Boleto</label>
      </li>

       <li class="type-tier diamond">
        <input name="tiers" type="radio" id="diamond" value="diamond">
        <label for="diamond">Boleto</label>
      </li>

      <li class="type-tier challenger">
        <input name="tiers" type="radio" id="challenger" value="challenger">
        <label for="challenger">Boleto</label>
      </li>

    </ul>
          <p><label for="posicao">Posição</label>
         <input type="text" class="form-control" id="posicao" placeholder="Posição"></p><br/>
         <button type="submit" class="btn btn-default">Enviar</button> <button type="cancelar" class="btn btn-default">Cancelar</button>
        </div>
       </div>
      </div>
    </div>
</form>