<form role="form">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <div class="form-group">
    	  <div class="col-xs-12">
          <p><label for="nomedousuario">Nome do Usuário</label>
     	    <input type="text" class="form-control" id="nome_do_usuario" placeholder="Nome Do Usuaário"></p>
        	<p><label for="emailusuario">Email</label>
          <input type="email" class="form-control" id="email_usuario" placeholder="Email Do Usuário"></p>
          <p><label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"></p>
          <p><label for="nomedoinvocador">Nome do Invocador</label>
          <input type="text" class="form-control" id="nome_do_invocador" placeholder="Nome do Invocador"></p>
          <p><label for="ligaatual">Liga Atual</label>
          <input type="text" class="form-control" id="liga_atual" placeholder="Liga Atual"></p>
          <p><label for="posicao">Posição</label>
         <input type="text" class="form-control" id="posicao" placeholder="Posição"></p><br/>
         <button type="submit" class="btn btn-default">Enviar</button> <button type="cancelar" class="btn btn-default">Cancelar</button>
        </div>
       </div>
      </div>
    </div> 
</form>
