<div id="dashboard">
  <div class="row">
    <div class="col-md-12">
      <form action="#" method="get" role="form">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
          <input type="search" class="form-control input-lg" id="search" placeholder="Busque por usuários ou times">
        </div>
      </form>
    </div>
  </div>
  <div class="clearfix pad-search-panel"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        Team list will be here
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        User list will be here
      </div>
    </div>
  </div>
</div>